.MessagesReply {
  background: rgb(255 255 255 / 10%);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  gap: 3px;
  position: relative;
  transition: .2s;
}

.MessagesReply:hover {
  background: rgb(255 255 255 / 20%);
}

.MessagesReply__header {
  width: 100%;
  height: 12px;
  border: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  gap: 7px;
  font-family: Arial, Helvetica, sans-serif;
}

h4.MessagesReply__header__name {
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}

small.MessagesReply__header__time {
  font-size: 10px;
  font-weight: normal;
  color: rgb(255 255 255 / 60%);
}

small.MessagesReply__header__time>.MessagesReply__header__time__tm {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.MessagesReply__body {
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.MessagesReply__body__text {
  font-size: 13px;
  color: #fff;
  width: 100%;
  line-height: 14px;
  height: max-content;
  max-height: 150px;
  overflow: hidden;
}

.MessagesReply__body__text b {
  font-weight: bold;
}

.MessagesReply__body__text i {
  font-style: italic;
}

.MessagesReply__body__text u {
  text-decoration: underline;
}

.MessagesReply__body__text strike {
  text-decoration: line-through;
}

.MessagesReply__body__text ul {
  padding-left: 22px;
  text-indent: 1px;
  list-style: unset;
}

.MessagesReply__body__text ol {
  padding-left: 20px;
  text-indent: 3px;
  list-style: reversed;
}

.MessagesReply__body__text a {
  cursor: pointer;
}

.MessagesReply__body__attachments {
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.Reply__attachments {
  width: 100%;
  height: max-content;
  position: relative;
}

.MessagesReply__body__attachments__image,
.MessagesReply__body__attachments__file {
  width: 100%;
  height: max-content;
  overflow-x: auto;
  overflow-y: hidden;
}

.MessagesReply__body__attachments__image::-webkit-scrollbar,
.MessagesReply__body__attachments__file::-webkit-scrollbar {
  background: transparent;
  height: 0px;
}

.MessagesReply__body__attachments__image__container,
.MessagesReply__body__attachments__file__container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.arrow__move {
  background: rgba(174, 182, 212, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 1px #00000070;
  border: none;
  overflow: hidden;
}

.arrow__move::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.arrow__move:hover {
  background: rgba(174, 182, 212, 0.8);
}

.arrow__move.--left {
  left: 5px;
}

.arrow__move.--Right {
  right: 5px;
}

.arrow__move.--active {
  display: flex;
}

.MessagesReply__body__attachments__image img {
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 8px;
}

button.FilesReplyPreview__chat {
  border: 1px solid #141E30;
  border-radius: 4px;
  margin-top: 8px;
  width: 150px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  background: #91b7d7;
}

.FilesReplyPreview__chat__icon {
  height: 100%;
  width: 30px;
  background-color: #ccdfe9;
  border: 2px solid #141E30;
  border-radius: 4px;
  border-start-end-radius: 14px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #141E30;
}

label.FilesReplyPreview__chat__name {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #141E30;
  cursor: pointer;
}

.MessagesReply__actions {
  position: absolute;
  top: -15px;
  right: 5px;
  z-index: 2;
  background: rgb(207 207 207);
  height: 30px;
  width: max-content;
  display: none;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 8px;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px #0000008f;
}

.MessagesReply:hover .MessagesReply__actions {
  display: flex;
}

button.MessagesReply__actions__button {
  border: none;
  background-color: transparent;
  color: rgba(20, 30, 48, 0.7);
  cursor: pointer;
  font-size: 17px;
}

button.MessagesReply__actions__button:hover {
  color: rgb(20, 30, 48);
  transform: scale(1.1);
}